.home{
    text-align: center;
}
.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}
.coral{
    color: var(--clr-coral);
}

.info{
    margin-top: 2em;
}

.my-pic{
    display: block;
    max-width: 70%;
    margin: 0 auto;
    box-shadow: var(--bs);
    border-radius: 50%;
}

